<h1> Github Users` Repositories Data</h1><br>
    <form class="form-class">
        <label for="userName"> <span appColor>Enter and Search your Github Username </span></label>
        <br>
           <input type="text"  id="userName" [(ngModel)]="userName" name="userName" (keyup)="getUserRepositories()" placeholder="Your Username..." required>
    
</form>
<div class="repositories">
<div class="card mt-5 bg-secondary" *ngFor='let repo of repositories'>
 
    <h3 class="card-header ">{{repo.name | uppercase}}</h3>
    <div class="card-body"> 
    <p class="card-text">{{repo.description}}</p>
    <a href={{repo.html_url}} class="btn btn-primary">Go to Repository</a>
</div>
    </div>

   
