<div class="form-class">
    <form>
    <span appColor>Enter your Username: </span><input type="text"  id="userName" [(ngModel)]="userName" name="userName" (keyup)="searchProfile()" placeholder="Your username..." required>
    
</form>
<br>
   <div>
      <p>MyUsername:{{myProfile.login}}</p>
      <br>
      <img id="image" [src]='myProfile.avatar_url'>
      
      <p>My name:{{myProfile.name}}</p>
      <p>My Followers:{{myProfile.followers}}</p>

      <div *ngFor='let repo of repos'>
 
         <h2>{{repo.name}}</h2> 
         <p>{{repo.description}}</p>
         </div>
        </div>
    </div>