<h1> Github Users` Data</h1><br>

<div class="form-class">
    <form>
        <label for="userName"> <span appColor>Enter and Search your Github Username </span></label>
        <hr>
   <input type="text"  class="form-control"  id="lg" id="userName" [(ngModel)]="userName" name="userName" (keyup)="searchProfile()" placeholder="Your username..." required>
  
</form>
<br>
   <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
    <img id="image" [src]='myProfile.avatar_url'>
        </div>
        <div class="col-sm-6">
          <br><br>
      <p> Username: {{myProfile.login}}</p>
      <br>
      <p> Name: {{myProfile.name}}</p>
      <br>
      <p> Followers: {{myProfile.followers}}</p>
      <br>
      <p>Following: {{myProfile.following}}</p>
    </div>
    </div>
    </div>
    </div>
  