.form-class{
    width: 100vw;
    background-color: #464062;
    align-items: center;
    color:#EEC390;
    padding:50px;
    
}
#image{
    border-radius: 50vw;
    
}
input{
    width:20%;
    height:40px;
    border-style: none;
    border-radius: 20px;
}
span{
    font-size: 20px;
}